/* Imports default 'styles.css' values */
@import url("style.css"); 

/* Assigns names to color codes */
:root {
    --c1: #fbfbf2;
    --c2: #e5e6e4;
    --c3: #cfd2cd;
    --c4: #a6a2a2;
    --c5: #847577;
}

/* Changes background color */ 
body {
  background-color: var(--c1);
}

.card {
background-color: var(--c3);
}

#navbarShow {
background-color: var(--c5);
}

h2 {
color: var(--c5);
}

a {
color: var(--c2);
}

a:hover {
color: var(--c5);
}

p {
color: var(--c5);
}