/* Imports default 'styles.css' values */
@import url("style.css"); 

/* Assigns names to color codes */
:root {
    --c1: #ffb8d1;
    --c2: #e4b4c2;
    --c3: #e7cee3;
    --c4: #e0e1e9;
    --c5: #ddfdfe;
}

/* Changes background color */ 
body {
    background-color: var(--c1);
  }