/* Imports default 'styles.css' values */
@import url("style.css"); 

/* Assigns names to color codes */
:root {
    --c1: #ffb8d1;
    --c2: #e4b4c2;
    --c3: #e7cee3;
    --c4: #e0e1e9;
    --c5: #ddfdfe;
}

/* Changes background color */ 

body {
    background-color: var(--c2);
  }

.card,button#button-nav.btn.btn-outline-primary:hover, 
button#themeDropdown.btn.btn-outline-primary.dropdown-toggle:hover {
  background-color: var(--c3);
}

#navbarShow {
  background-color: var(--c1);
}

h2 {
  color: var(--c5);
}

button#button-nav.btn.btn-outline-primary, button#themeDropdown.btn.btn-outline-primary.dropdown-toggle  {
  color: var(--c5);
  border-color: var(--c5);
}

a {
  color: var(--c2);
}

a:hover {
  text-shadow: var(--c5) 1px 0 3px;
  color: var(--c2);
}

p {
  color: var(--c5);
}